.tab ul {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	position: relative;
	float: left;
}

.tab li {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom-color: #CCCCCC;
	float: left;
	padding: .5em;
	cursor: pointer;
	position: relative;
	bottom: -1px;
}
.tab li:first-child{
	border-top-left-radius:5px ;
}
.tab li:last-child{
	border-right: 1px solid #CCCCCC;
	border-top-right-radius:5px ;
}

.tab-show {
	background: #EEEEEE;
	border-bottom-color: #FFFFFF !important;
}

.tab li:hover {
	background: #EEEEEE;
}

.tab-content {
	width: 100%;
	position: absolute;
	top: 2.1em;
}

.tab-content-item {
	display: none;
	border: 1px solid #CCCCCC;
	border-bottom-right-radius:5px ;
	border-bottom-left-radius:5px ;
	border-top: none;
	padding: .5em;
}